[
  {
    "relation": [
      "delegate_permission/common.handle_all_urls"
    ],
    "target": {
      "namespace": "android_app",
      "package_name": "${ANDROID_APP_LINK_PACKAGE_NAME}",
      "sha256_cert_fingerprints": [
        "${ANDROID_APP_LINK_SHA256_CERT_FINGERPRINT}"
      ]
    }
  }
]